asgiref
Django==5.2.3
gunicorn
sqlparse
psycopg2-binary
django-environ
django-admin-sortable2
requests
boto3
redis
celery[redis]
beautifulsoup4
openai
yandex-cloud-ml-sdk
flower
django-celery-beat
django-celery-results
